In [947]:
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt
import glob
%matplotlib inline

In [948]:
## PANDAS VERSION BEING USED
pd.__version__
print(f'Pandas Version: {pd.__version__}')

Pandas Version: 1.4.3

## This notebook shows steps involved in EDA as well as general Pandas operations

**initial observations**
1. data has index column - so re-index
2. sub_category and description and type can be dropped
3. category turned into categorial dtype

### NOTES:

1. Load file
2. Clean Columns headers - strip spaces/remove and replace
3. Inspect Data
4. Drop Columns

## SECTION A : load data and benchmarking

### Step 1 - read file into pandas dataframe

In [949]:
##%pwd

In [950]:
df = pd.read_csv('BigBasket_Products.csv')

In [951]:
url = 'https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_April_2019.csv'

In [1076]:
#df2 = pd.read_csv(url)
#df2.columns
#df2.shape

In [1024]:
#cols = df2.columns
#print(cols)

In [961]:
#st1 = (df2.columns.str.replace(' ','_'))
#st2 = (df2.drop(['Purchase Address'], axis=1))
#st3 = (df2.rename(columns={'Price Each':'Price'}))

In [ ]:
## pandas_profiling.ProfileReport(df)

### Step 2 - get Total rows and Columns - df.shape

In [957]:
df.shape
print(f'columns:{df.shape[0]}, rows:{df.shape[1]}')

columns:27555, rows:10

In [958]:
df.index

RangeIndex(start=0, stop=27555, step=1)

In [959]:
df.describe(include='all')

,index,product,category,sub_category,brand,sale_price,market_price,type,rating,description
count,27555.00000,27554,27555,27555,27554,27555.000000,27555.000000,27555,18929.000000,27440
unique,NaN,23540,11,90,2313,NaN,NaN,426,NaN,21944
top,NaN,Turmeric Powder/Arisina Pudi,Beauty & Hygiene,Skin Care,Fresho,NaN,NaN,Face Care,NaN,A brand inspired by the Greek goddess of victo...
freq,NaN,26,7867,2294,638,NaN,NaN,1508,NaN,47
mean,13778.00000,NaN,NaN,NaN,NaN,322.514808,382.056664,NaN,3.943410,NaN
std,7954.58767,NaN,NaN,NaN,NaN,486.263116,581.730717,NaN,0.739063,NaN
min,1.00000,NaN,NaN,NaN,NaN,2.450000,3.000000,NaN,1.000000,NaN
25%,6889.50000,NaN,NaN,NaN,NaN,95.000000,100.000000,NaN,3.700000,NaN
50%,13778.00000,NaN,NaN,NaN,NaN,190.000000,220.000000,NaN,4.100000,NaN
75%,20666.50000,NaN,NaN,NaN,NaN,359.000000,425.000000,NaN,4.300000,NaN
max,27555.00000,NaN,NaN,NaN,NaN,12500.000000,12500.000000,NaN,5.000000,NaN

### Step 3 - Initial Benchmarking
1. **%%timeit** - how long does it take to run the df <br>
2. **(memory_usage='deep')** - what is the total memory used <br>

In [ ]:
#%%timeit
df
## this is used to see total time to load dataset

In [ ]:
## lets get total memory usage - based on initial df
df.info(memory_usage='deep')

In [ ]:
## returns total memory usage - in kilobytes
rnd = (df.memory_usage(deep=True).sum()/1024).round()
rnd

In [ ]:
convert_to_kb = (df.memory_usage().sum()/1024).round()
convert_to_kb

In [ ]:
## which columns has high memory usage
df.memory_usage(deep=True)

In [ ]:
## used in conjunction with above to see which columns takes up memory
df.info(memory_usage='deep')

In [ ]:
## how many null values (Nan) per series/columns
df.isnull().sum()

In [ ]:
df.notnull().sum()

In [ ]:
df.select_dtypes(include='object').nunique()

In [ ]:
df['category'].unique().tolist()

In [ ]:
df['category'] = df['category'].astype('category')

In [ ]:
new_df.memory_usage(deep=True)

### Benchmark Summary

In [ ]:
## timeit -  11.4 ns ± 0.0254 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)
## memory -  memory usage: 28.2 MB

## SECTION B : - inspecting the dataset itself

### Showing the df at a glance

In [976]:
#df.describe(include=[np.number]).T

In [ ]:
## see first 5 and last 5 rows
df

In [ ]:
## first 5
df.head()
## see specified number
## df.head(n=20)

In [ ]:
## last 5 rows
df.tail()
## see specified number
## df.tail(n=20)

In [ ]:
## random sample of rows and columns
df.sample(n=10)

In [ ]:
## random sample of columns
df.sample(n=5, axis=1)

In [ ]:
## random sample of rows
df.sample(n=5, axis=0)

## Section C - data cleaning

In [ ]:
##### NOTES......lets look at column headers first
## removing white spaces from column-headers
## cast to upper/lower string
## replace special characters
## dropping columns
## renaming columns
## moving columns into positions
## creating  and inserting new column headers

In [ ]:
df.info(memory_usage='deep')

In [ ]:
## show columns only - in list format
## df.columns
##df.columns.tolist()
df.columns.values.tolist() ##numpy method more memory effecient

In [ ]:
## df.columns.str.strip().str.upper().tolist()
## df.columns.str.strip().str.lower().tolist()

In [ ]:
## replace characters......
## df.columns.str.replace ('_','&&').tolist()

## Section D - converting dtypes for optimal performance

In [984]:
df.head(n=3)

,index,product,category,sub_category,brand,sale_price,market_price,type,rating,description
0,1,Garlic Oil - Vegetarian Capsule 500 mg,Beauty & Hygiene,Hair Care,Sri Sri Ayurveda,220.0,220.0,Hair Oil & Serum,4.1,This Product contains Garlic Oil that is known...
1,2,Water Bottle - Orange,"Kitchen, Garden & Pets",Storage & Accessories,Mastercook,180.0,180.0,Water & Fridge Bottles,2.3,"Each product is microwave safe (without lid), ..."
2,3,"Brass Angle Deep - Plain, No.2",Cleaning & Household,Pooja Needs,Trm,119.0,250.0,Lamp & Lamp Oil,3.4,"A perfect gift for all occasions, be it your m..."

In [985]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27555 entries, 0 to 27554
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         27555 non-null  int64
 1   product       27554 non-null  object
 2   category      27555 non-null  object
 3   sub_category  27555 non-null  object
 4   brand         27554 non-null  object
 5   sale_price    27555 non-null  float64
 6   market_price  27555 non-null  float64
 7   type          27555 non-null  object
 8   rating        18929 non-null  float64
 9   description   27440 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 28.2 MB

In [ ]:
newdf = df.convert_dtypes()
newdf.info(memory_usage='deep')

In [ ]:
newdf.memory_usage().sum()/1024

In [986]:
## selcting columns based on dtypes
df.select_dtypes(include='object').head()

,product,category,sub_category,brand,type,description
0,Garlic Oil - Vegetarian Capsule 500 mg,Beauty & Hygiene,Hair Care,Sri Sri Ayurveda,Hair Oil & Serum,This Product contains Garlic Oil that is known...
1,Water Bottle - Orange,"Kitchen, Garden & Pets",Storage & Accessories,Mastercook,Water & Fridge Bottles,"Each product is microwave safe (without lid), ..."
2,"Brass Angle Deep - Plain, No.2",Cleaning & Household,Pooja Needs,Trm,Lamp & Lamp Oil,"A perfect gift for all occasions, be it your m..."
3,Cereal Flip Lid Container/Storage Jar - Assort...,Cleaning & Household,Bins & Bathroom Ware,Nakoda,"Laundry, Storage Baskets",Multipurpose container with an attractive desi...
4,Creme Soft Soap - For Hands & Body,Beauty & Hygiene,Bath & Hand Wash,Nivea,Bathing Bars & Soaps,Nivea Creme Soft Soap gives your skin the best...

In [ ]:
##df.select_dtypes(include='Float64').sample(n=15)
df.select_dtypes(include='number').sample(n=15)

In [1080]:
## chaining
(df
 .select_dtypes(include='float')
 .query('rating.isna()')
 .sample(n=15)
 #.head(n=15)
)

       sale_price  market_price  rating
21953       149.5         299.0     NaN
15683       595.0         595.0     NaN
18997       400.0         400.0     NaN
7449        812.0        1450.0     NaN
19767       245.0         245.0     NaN
22078       299.0         299.0     NaN
23552       450.0         600.0     NaN
7613        206.1         229.0     NaN
13758      1494.0        1494.0     NaN
4559        289.0         358.0     NaN
23854        80.0          80.0     NaN
19631       266.4         322.0     NaN
1954        250.0         250.0     NaN
20027        28.0          35.0     NaN
23568       399.0         529.0     NaN

In [ ]:
df.select_dtypes(include=['object']).nunique()

## Section E - missing values

In [ ]:
## Notes ---- missing values and counts

In [ ]:
## first get all count of rows and columns
df.shape
print(f'columns:{df.shape[0]},\nrows:{df.shape[1]}')

In [ ]:
## for all numeric data use: df.describe()
## only returns count for numeric type columns - excludes object/string type columns
## count means - count of total non-null values
df.describe()

In [ ]:
df.info(memory_usage='deep')

In [ ]:
18929 + 8626

In [1072]:
df.isnull().sum()

index              0
product            1
category           0
sub_category       0
brand              1
sale_price         0
market_price       0
type               0
rating          8626
description      115
dtype: int64

In [1073]:
df.isna().sum()

index              0
product            1
category           0
sub_category       0
brand              1
sale_price         0
market_price       0
type               0
rating          8626
description      115
dtype: int64

In [1074]:
df.notnull().sum()

index           27555
product         27554
category        27555
sub_category    27555
brand           27554
sale_price      27555
market_price    27555
type            27555
rating          18929
description     27440
dtype: int64